.for-documentation-purposes-only {
	/* This is the palette for the application */
	background-color: #f1c40f;
	background-color: #4d4637;
	background-color: #b3aa99;
	background-color: #00cea8;
	background-color: #009574;
	color: #000; /* Black for warnings */
	color: #fff9ec; /* Bone white */
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
	color: #fff9ec;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
	color: #4d4637;
	text-shadow: none; /* Prevent inheritance from `body` */
	background-color: #fff9ec;
	border: 0.05rem solid #fff9ec;
}

/*
 * Base structure
 */
body {
	height: 100%;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
	/* overflow: hidden; */
}

html,
.body {
	height: 100%;
	background-color: #4d4637;
}

.body {
	color: #fff9ec;
	text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
	max-width: 84em;
}

/*
 * Header
 */
.masthead {
	margin-bottom: 2rem;
}

.masthead-brand {
	margin-bottom: 0;
}

.nav-masthead .nav-link {
	padding: 0.25rem 0;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.5);
	background-color: transparent;
	border-bottom: 0.25rem solid transparent;
	cursor: pointer;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: #fff9ec;
	border-bottom-color: #fff9ec;
}

@media (min-width: 48em) {
	.masthead-brand {
		float: left;
	}
	.nav-masthead {
		float: right;
	}
}

/*
 * Cover
 */
.cover {
	padding: 0 1.5rem;
}
.cover .btn-lg {
	padding: 0.75rem 1.25rem;
	font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
	color: rgba(255, 255, 255, 0.5);
}

.tomatoes {
	height: 50rem;
}

.parent {
	display: flex;
	flex-direction: row;
}

.ql-toolbar .ql-stroke {
	fill: none;
	stroke: #fff9ec;
}

.ql-toolbar .ql-fill {
	fill: #fff9ec;
	stroke: none;
}

.ql-toolbar .ql-picker {
	color: #fff9ec;
}

.ql-editor {
	height: 150px;
}

.no-scroll {
	overflow: hidden;
}

/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	/* MrFunc Yellow */
	background: #f1c40f;
	border-radius: 10px;
}

.margin-top {
	margin-top: 10px;
}

.mega-margin-bottom {
	margin-bottom: 70px;
}

#reset {
	margin-left: 5px;
}

.controls__wrp {
	margin-bottom: 5px;
}

.mt-auto {
	margin-top: 10px !important;
}

.other-page {
	min-height: 90%;
}

.previous-notes {
	/* overflow-y: scroll;
	overflow-x: hidden; */
	border: 1px solid #ccc;
}

.loading-quill {
	padding-top: 75px !important;
}

.empty-notes {
	height: 190px;
	padding-top: 50px;
}

.empty-previous-notes {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	margin-top: 50px;
}

.pointer {
	cursor: pointer;
}

.margin-right {
	margin-right: 10px;
}

.justified-parent {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.justified-parent .form-group {
	margin-right: 10px;
}

.contenedor {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cabezera {
	justify-content: space-around;
}

.fila {
	flex-direction: row;
}

.item {
	display: flex;
}

.mitad {
	width: 50%;
}

.margen-iz {
	margin-right: 10px;
}

.relleno {
	padding-right: 20px;
	padding-left: 20px;
}

.note-box {
	flex: 1;
}

.note-box-borders {
	border: 1px solid #ccc;
	border-radius: 10px;
}

.note-scroll {
	/* overflow-y: scroll;
	overflow-x: none; */
	max-height: 50%;
}

.pseudo-link {
	font-size: smaller;
	text-decoration: underline;
	cursor: pointer;
}

.justify-previous-note {
	text-align: initial;
	padding: 10px;
}

.align-date {
	text-align: center;
}

.ql-bold .ql-active {
	color: red !important;
	stroke: red !important;
}

.todo {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	color: #fff9ec;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.delete-todo {
	color: #000;
	cursor: pointer;
}

.context-input {
	max-width: 50%;
}

.todo-value {
	flex-grow: 1;
}

.todo-checkbox {
	min-width: 20px;
	width: 1em;
	height: 1em;
	margin-top: 0.25em;
	vertical-align: top;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: 1px solid rgba(0, 0, 0, 0.25);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-print-color-adjust: exact;
	cursor: pointer;
}

.todo-checked {
	background-color: #009574;
	border-color: #009574;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
